{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row mb-2">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            {{ form.search_product_name.label(class="form-control-label") }}
                            {% if form.search_product_name.errors %}
                            {{ form.search_product_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.search_product_name.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.search_product_name(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-1 pt-2">
                        <div class="form-group pt-3">
                            {{ form.search_submit(class="btn btn-outline-info btn-lg") }}
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>


    <div class="row">
        <div class="col-2">
            <div class="btn-group dropend">
                <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Category
                </button>
                <ul class="dropdown-menu">
                    {% for category in categories %}
                        <li><a class="dropdown-item" href="{{ url_for('main.filter_products_by_category', category=category) }}">{{ category }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-10">
            <div class="row">
                {% for product in products %}
                <div class="col-9 col-md-9 col-lg-4 mt-2">
                    <div class="card" style="width: 100%; height:100%">
                        {% if product.image %}
                        <img src="{{ url_for('static', filename ='food_pics/' + product.image) }}"
                             class="card-img-top food-img"
                             alt="None">
                        {% else %}
                        <img src="{{ url_for('static', filename ='food_pics/' + 'default_food.jpg') }}"
                             class="card-img-top food-img"
                             alt="None">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <div class="row">
                                <div class="col-6">
                                    <h6 class="card-subtitle mb-2 text-muted">{{ product.price }} BYN</h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="card-subtitle mb-2 text-muted">{{ product.weight }} gr.</h6>
                                </div>
                            </div>
                            <a href="{{ url_for('users.add_to_cart',product_id=product.id) }}"
                               class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="mt-2">
                {% for page_num in range(1,pagination.get_page_count()) %}
                {% if pagination.get_page() == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page = page_num) }}  ">{{ page_num }}</a>
                {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page = page_num) }}  ">{{ page_num
                    }}</a>
                {% endif %}
                {% endfor %}
                <a class="btn btn-outline-info mb-4"
                   href="{{ url_for('main.home', page = pagination.get_page_count()) }}  ">{{
                    pagination.get_page_count() }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}